/*.sidenav {
    position: fixed;
    height: 100vh;
    background: white;
    border-right: 1px solid rgba(16, 22, 26, 0.2);
	width: 70px;
}
.sidenav ul li:hover,.sidenav ul li.active{
    background-color: rgba(19, 124, 189, 0.2);
	cursor: pointer;
}
.sidenav ul li {
    padding: 10px;
    text-align:center;
    font-size:14px;
    font-weight:bold;
    color:#00000087;
}
.sidenav ul li i{
    display:block;
    width:100%;
    text-align:center;
    font-weight:100 !important;
    color:black;
	margin-bottom: 5px;
}


.main {
    width: calc(100% - 280px);
    background: #e8e8e8;
    height: 100vh;
    display: inline-block;
}
.main .topbar{
	width:100%;
	background:white;
	border-bottom:1px solid rgba(16, 22, 26, 0.2);
	padding:20px;
}*/
body {
    background-color: #e8e8e8;
}
ul {
    padding: 0;
    margin: 0;
}

#classroomapp {
    margin-top: 45px;
}
.sidenav {
    text-align: center;
    border-right: 1px solid #00000052;
    position: fixed;
    height: 100vh;
    background-color: #fff;
    left: 0;
    padding: 40px 17px;
}
.sidenav ul {
    margin: 0;
}

.sidenav li a i {
    display: block;
}

.sidenav {}

.sidenav ul li {
    padding: 12px 0;
}

.sidenav li a {
    font-size: 13px;
    display: inline-block;
}

.center-window {
    height: 1000px;
    padding-top: 30px;
}
.right-window {
    height: 100vh;
    background-color: #fff;
    position: fixed;
    width: 317px;
    right: 0;
}

.center-blk-cvr {
    width: 800px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}
.center-blk {
    width: 100%;
    height: 800px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto 30px;
    box-shadow: 0 0 2px #0000005e;
}
.center-blk-cvr ul {
    width: 100%;
    float: right;
    text-align: right;
    padding: 8px 0;
}

.center-blk-cvr ul li {
    display: inline-block;
    margin-left: 8px;
}
.center-blk-cvr ul li a {
    color: rgb(54 69 80 / 88%);
}

.top-bar {
    background-color: #07305e;
    position: fixed;
    z-index: 9;
    right: 0;
	color: white;
    width: 100%;
    border-bottom: 1px solid #00000047;
    padding: 0;
}
.vle-logo {
    padding: 2px;
}
.top-bar ul {
    float: right;
    display: inline-flex;
    align-items: center;
}
.top-bar ul li {
    list-style: none;
    margin: 0 8px;
}
.top-bar li a {
    color: rgb(54 69 80 / 60%);
}
.top-bar li a i {
    margin-right: 3px;
}
.hdr-download {
    border-left: 1px solid #0000006e;
    padding-left: 12px;
    padding: 10px 0px 10px 20px;
}
.videocallapp {
    height: 100%;
    z-index: 25;
    background: #00000073;
    position: absolute;
    width: 100%;
    left: 0;
    transition: 0.3s linear all;
    height: 0px;
}
.videocallapp .cater{
	display:block;
	display: block;
    text-align: center;
    margin: 0 auto;
    background: none;
    color: white;
    border: none;
    background: black;
    padding: 5px;
    font-size: 15px;
}
.videocallapp .closer{
	display:none;
}
.videocallapp.show {
    height: 100vh !important;
}
.videocallapp.show .cater{
	display:none;
}
.videocallapp.show .closer{
	display: block;
    background: none;
    border: none;
    background: #f79953;
    color: #000306;
    margin: 0 auto;
    font-size: 22px;
}
.videocallapp #me > div {
    display: none;
}
.videocallapp.show #me > div {
    display: block;
}